/*css for main*/
body {
  /*background-color: #2c3e50;
  padding-top: 10em;*/
  font-family: 'Helvetica';
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
}

h1 {
  color: #ffffff;
  padding: 1em;
}
/*end main css*/

/*css for popup dialog*/
#openPopUp {
  text-align: center;
  background-color: #1abc9c;
  padding: 15px 15px;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5em;
  border-radius: 3.5px;
  text-decoration: none;
  font-weight: 100;
  transition: background-color 0.15s linear;
  -webkit-transition: background-color 0.15s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
}

a#openPopUp:hover {
  cursor: pointer;
  background-color: #1abc9e;
}

/*whole popup dialog css */
.popup {
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 9999999;
  background: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;  
}
/*end*/

/* popup dialog header */
.popup .popUpContainer {
  width: 100%;
  max-width: 500px;
  position: fixed;
  /* To avoid scroll to target */
  left: 50%;
  top: -100vh;
  -webkit-transition: top 0.35s ease;
  -moz-transition: top 0.35s ease;
  -o-transition: top 0.35s ease;
  transition: top 0.35s ease;
  /* Trick to properly center the element by using negative 
  1/2 length of element as margin left and top */
  margin-left: -250px;
  background-color: #f0f0f0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  z-index: 9999999;
}

.popup h2 {
  padding: 0.5em;
  text-align: center;
  color: #444444;
  margin: 0;
}

.popup img {
  width: 100%;
  display: block;
}

/* popup dialog content css*/
.popup .ratecontent {
  height: 250px;
  background-color: #f0f0f0;
}


/* The cancel button on popup dialog */
.popup a.closePopUp {
  font-family: verdana;
  color: #e74c3c;
  position: absolute;
  top: 0.2em;
  right: 0.375em;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}

/* The cancel button on popup dialog */
.popup a:hover {
  color: #c0392b;
}

/* When popup is targeted, by clicking on link with #popup in HTML */
.popup:target {
  opacity: 1;
  top: 0;
}

.popup .closePopUpOutSide {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999991;
}

.popup:target .popUpContainer {
  top: 50px;
  -webkit-transition: top 0.35s ease;
  -moz-transition: top 0.35s ease;
  -o-transition: top 0.35s ease;
  transition: top 0.35s ease;
}

@media (max-width: 796px) {
  .popup .popUpContainer {
    width: 90%;
    max-width: none;
    left: 5%;
    margin-left: 0;
  }
  .popup ul {
    padding: 0 1em 0 1em;
  }
  .popup:target .popUpContainer {
    top: 25px;
    -webkit-transition: top 0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
  }
}
/* end popup dialog css*/

/* css for rating */		
.rating {
  float: left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */

.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #ddd;
  text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0, 0, 0, .5);
}

/*set radion button to be star at initials */
.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: #f70;
  text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}

/* rating input hover css*/
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}
/* end rating css */